#root {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.content {
  flex-shrink: 0; /* Prevent shrinking */
  padding: 2em;
}

.content.text-center {
  flex: 0; /* Take only as much height as content needs */
  margin-bottom: 16px; /* Add spacing if needed */
}

.content.search-results {
  flex: 1; /* Take up the rest of the remaining height */
  overflow-y: auto; /* Make content scrollable if it overflows */
  background-color: #242424; /* Optional: Background for better visibility */
  padding: 16px; /* Optional: Padding inside scrollable content */
}

.logo {
  background: #1a1a1a;
}

.sidebar {
  background: #1c1c1c;
}

.text-center {
  text-align: center;
}

.input-styles {
  padding: 1em;
  border-radius: .4rem;
  border: 1px solid #ccc;
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}
